#bloque .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#bloque article{
    margin: 18px;
}

#bloque h3,h4{
    text-align: center;

}

#bloque img{
    width: 100%;
    max-width: 280px;
}

#bienvenida h2,p{
    text-align: center;
    margin: 15px;
}