#info{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* Diseñoi para el contenedor que esta dentro del info**/
#info .contenedor{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;

}


.info-bici{
    margin: 20px;
}

/* Estilo de las imagenes del final "modelos"*/
.info-bici img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border:5px solid #fff;
}

/** Estilos responsivo segun las medidas, escritorio**/
@media (min-width:1024px){
    .info-bici{
        width: auto;
    }
}