#carousel-item img{
    width: 5%;
    max-width: 28px;
    justify-content: center;

}
#map {
    height: 280px;
    width: 100%;
    justify-content: center;
}



body{  
    background-color: #333;

    }
    
    footer .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom:25px ;
    
    
    }    
    .redesS {
        width: 100%;
        text-align: center;
        font-size: 28px;
    }
/* Para un comportamiento responsive */
.carousel-inner img {
    width: 90%;
    height: 90%;
    justify-content: center;
    }

    #mapa h3,h2,p{
        color: white;
        text-align: center;
        margin: 15px;
    }