body  {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background: url(venta_bike.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}

.contenedor2 {
    width: 100%;
    padding: 15´x;
}

.formulario{
    background: #fff ;
    margin-top: 150%;
    padding: 3px;
}

h1 {
    text-align: center;
    color:#1a2537;
    font-size: 40px;
}
/** Estilos para los input **/
input[ type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor2 {
    margin-bottom: 15px;
    border: 1px solid #aaa;

}

/** Estilos para los iconos, se vean dentro del input **/
.icon{
min-width: 50px;
text-align: center;
color: #999;
}
/** Estilo para el botton**/
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #333;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button :hover{
    background: cadetblue;   
}
p{
    text-align: center;
}
/** Estilpo para la clase link **/
.link{
    text-decoration:none ;
    color:#333 ;
    font-weight: 600;
}
.link:hover{
    color:cadetblue;
}
/** Responsive para el fomulario**/
@media(min-width:768px){
    .formulario{
        margin:auto;
        width: 500px;
        margin-top:120px ;
        border-radius: 3px;
    }
}
@media(min-width:360px){
    .formulario{
        margin:auto;
        width: 500px;
        margin-top:120px ;
        border-radius: 3px;
    }
}