{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Bikes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="widtg=device-width, user-scalable=no,initial-scale=1,
        maximum-scale=1,minimum-scale=1">
        <link rel="stylesheet" href="{% static '/css/fontello.css' %}">
    
        <link rel="stylesheet" href="{% static '/estilos.css' %}">
        <link rel="stylesheet" href="{% static '/menu.css' %}">
        <link rel="stylesheet" href="{% static '/banner.css' %}">
        <link rel="stylesheet" href="{% static '/bloque.css' %}">
        <link rel="stylesheet" href="{% static '/info.css' %}">
    </head>

    <body>
        <header>
            <div class="Contenedor">
                <h1 class="icon-bicycle" >Bicletas</h1>
                <input type ="checkbox" id="menu-bar">
                <label  class= "icon-align-justify" for="menu-bar"></label>
                <nav class="menu">
                    <a href="/registro/">Registro</a>
                    <a href="/nosotros/">Nosotros</a>
                    <a href="#">productos</a>

                </nav>
            </div>
            
        </header>

        <main>
            <section id="banner">
                <img src="{% static '/banner_ocaso.jpg' %}">
               <!---  <div class="contenedor">
                <h2>Las mejores bicicletas, se felz</h2>
                <p>La mejores bicicletas que podras encontrar</p>
                <a href="#">Nosotros</a>
                </div> --->
            </section>
            <section id="bienvenida">
                <h2>Bienvenidos a nuestra tienda</h2>
                <p>La bicicleta es la forma más fácil y saludable para ir a alguna parte
                     sin utilizar el automóvil, sin tantos riesgos de lesionarse
                      como otros deportes.</p>

                      <section id="bloque">
                          <h3>Lo ultimo del bloque</h3>
                          <div class="contenedor">

                              <article>
                                  <img src="{% static '/bici_ocaso.jpg' %}" height="200" width="200">
                                  <h4>Escoge tu bicicleta fovorita</h4>
                              </article>
                              <article>
                                <img src="{% static '/fixie_llano.jpg' %}" height="200" width="200">
                                <h4>Lo mejor en bicis de ruta</h4>
                            </article>
                            <article>
                                <img src="{% static '/bici_ruta.jpg' %}" height="200" width="250">
                                <h4> La mejor calidad en bicicletas</h4>
                            </article>
                            
                          </div>

                      </section>

            </section>
            <section id="info">
                <h3> Las mejores biccletas del mundoo
                    lo encuentras aqui.
                </h3>
                <div class="contenedor">
                    <div class="info-bici">
                        <img src="{% static '/pistera.jpg' %}" alt="">
                        <h4>Bici Pistera</h4>
                    </div>
                    <div class="info-bici">
                        <img src="{% static '/BMX.JPG' %}" alt="">
                        <h4> Bici BMX</h4>
                    </div>
                    <div class="info-bici">
                        <img src="{% static '/montaña.jpg' %}" alt="">
                        <h4>Bici montaña</h4>
                    </div>

                </div>

            </section>
        </main>

        <footer>
            <div class="contenedor">
                <p class="code"> Mi Bicicletas &copy; 2020</p>
                <div class="redesS">
                    <a class="icon-instagram" href="#"></a>
                   <a class="icon-facebook-squared" href="#"></a>
                    <a class="icon-mail-alt" href="#"></a>
                </div>
            </div>
        </footer>
    </body>


</html>