{% load static %}
<!--equired meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/nosotros.css' %}">
    <link rel="stylesheet" href="{% static '/css/fontello.css' %}">
    <title>Nosotros</title>
      
  </head>
  <!--- ***************------------------------------------------------------------------- -->
  <body>
      <!--- Script que llama la funcion que ejecuta la funcion de la ubicacion-->
    <div id="map">
        <script src="{% static '/script.js' %}"> </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMapa"> </script>
    </div> 
    
    <section class="mapa">
        <h2>Encuentranos en Calle felipex # 2314 de Santiago, Chile</h2>
        <p>Telef: 6666-6666-6666</p>
        <p> Nuesta tienda esta dedicada a la venta de las mejores bicicletas y acesorios
             </p>

    </section>
     <!--- Funcionamiento del carrusel con las 3 fotos -->
    <section class="caruosel2">
        <div id="carousel1" class="carousel slide" data-ride="carousel" align= center>
            <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="{% static '/BMX.JPG' %}" alt="" width="150" height="150">
            </div>
            <div class="carousel-item">
               <img src="{% static '/montaña.jpg' %}" alt="" width="150" height="150">
            </div>
            <div class="carousel-item">
               <img src="{% static '/pistera.jpg' %}" alt="" width="150" height="150">
            </div>
            </div>
            
            <!--Controles NEXT y PREV-->
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--Controles de indicadores-->
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol>
            
        </div>
    </section>

      <!--- ********************************************--------------------------------------------------->
     
      
      <!--- Zona para incorprar las funciones del jquery y bootstrap-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>
        $('.carousel').carousel();
    </script>  
      

      <footer>
        <div class="contenedor">
            <p class="code"> Mi Bicicletas &copy; 2020</p>
            <div class="redesS">
                <a class="icon-instagram" href="#"></a>
               <a class="icon-facebook-squared" href="#"></a>
                <a class="icon-mail-alt" href="#"></a>
            </div>
        </div>
    </footer>
  </body>
</html>