{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro</title>
<meta name="viewport"  content="widtg=device-width, user-scalable=no,initial-scale=1,
maximum-scale=3.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="{% static '/registro.css' %}">
<script src="{% static '/validar.js' %}"></script>

<script>
function solonumeros(e){
  // Funcion solo para ingresar numeros en el input telefono
          key =e.keyCode || e.which;
  
          teclado= String.fromCharCode(key);
          numeros="0123456789"
          especiales="8-37-38-46" //array
          teclado_especial=false;
  
          for(var i in especiales){
              if(key==especiales[i]){
              teclado_especial=true;
          }
  
          }
  
          if(numeros.indexOf(teclado)==-1 && !teclado_especial){
              return false;
  
          }
  
      }
</script> 

</head>
<body>
    <!--Creando formulario para que los clientes se puedan registrar --> 
<form action="registro.html" method="POST" class="formulario" onsubmit="return validar();">
    <h1>Registro</h1>
    <div class="contenedor2">
     <!--Solicitando el nombre del cliente de manera requerida 
        por lo que debe completar el campo obligatoriamente por seguridad de la tienda  -->
        <div class="input-contenedor2">
            <i class="fas fa-user icon"></i>
            <input type="text" id= "Nombre" placeholder="Nombre" required>
        </div>

    <!--Solicitando el apellido del cliente de manera requerida 
        por lo que debe completar el campo obligatoriamente por seguridad de la tienda  -->
        <div class="input-contenedor2">
            <i class="fas fa-user icon"></i>
            <input type="text" id= "Apellido" placeholder="Apellido"  required>
        </div>

    <!--Solicitando el telefono del cliente de manera requerida 
        por lo que debe completar el campo obligatoriamente por seguridad de la tienda  -->    
        <div class="input-contenedor2">
            <i class="fas fa-mobile icon"></i>
            <input maxlength="9" name="telefono" onkeypress="return solonumeros(event)" 
            type="text" id= "Telefono" placeholder="Telefono" required>
        </div>
    <!--Solicitando el correo del cliente de manera requerida 
        por lo que debe completar el campo obligatoriamente por seguridad de la tienda  -->
        <div class="input-contenedor2">
            <i class="fas fa-envelope icon"></i>
            <input type="email" id="Correo" placeholder="Correo " required>
        </div>
      <!--Solicitando la contraseña del cliente de manera requerida 
        por lo que debe completar el campo obligatoriamente por seguridad de la tienda  -->
        <div class="input-contenedor2">
            <i class="fas fa-key icon"></i>
            <input type="password" id="Contraseña" placeholder="Contraseña" required>
        </div>
        <input type="submit" value="Registro" class="button">
        <p>Al registrarte, aceptas nuestos terminos y condiciones</p>
        <p>¿Ya tiene un registro ? <a   class="link" href="/sesion/"> Iniciar
            Sesion
        </a></p>
    </div>
</form>
</body>
</html>