{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sesion</title>
    <meta name="viewport"  content="widtg=device-width, user-scalable=no,initial-scale=1,
    maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static '/registro.css' %}">
</head>

<body>
    
</body>
<form class="formulario">
    <h1>Sesion</h1>
    <div class="contenedor2">

        <div class="input-contenedor2">
            <i class="fas fa-envelope icon"></i>
            <input type="email" placeholder="Correo Electronico" class="form-control" required>
        </div>

        <div class="input-contenedor2">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña" class="form-control"  required>
        </div>
        <input type="submit" value="Sesion" class="button">
        <p>Al registrarte, aceptas nuestos terminos y condiciones</p>
        <p>¿Aun no tienes tu cuentas ? <a   class="link" href="/registro/"> Registro
        
        </a></p>
    </div>

</form>
</html>