<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar usuarios</h1>
    <form action="/edit/{{id_user}}/" method="POST">
        {% csrf_token %}
        <tr>
            <td>Nombre</td>
            <td>{{ form.nombre }}</td>
        </tr>
    
        <tr>
            <td>Apellido</td>
            <td>{{ form.apellido }}</td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td>{{ from.telefono }}</td>
        </tr>
        <tr>
            <td>Correo</td>
            <td>{{ form.correo }}</td>
        </tr>
        <tr>
            <td><input type="sumit" value="Guardar"></td>
            <td></td>
        </tr>
        
        </form>






    
</body>
</html>