<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>formulario</title>
</head>
<body >
    <form action="/usuario/" method="POST">
    {% csrf_token %}
    <tr>
        <td>Nombre</td>
        <td>{{ form.nombre }}</td>
    </tr>

    <tr>
        <td>Apellido</td>
        <td>{{ form.apellido }}</td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td>{{ from.telefono }}</td>
    </tr>
    <tr>
        <td>Correo</td>
        <td>{{ form.correo }}</td>
    </tr>
    <tr>
        <td><input type="sumit" value="Guardar"></td>
        <td></td>
    </tr>
    
    </form>
    <h1>Lista de usuarios </h1>
    <table border="1">
        <head>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th colspan="3">Opciones</th>
            </tr>
            {% for cli in usuarios %}
            <tr>
                <td>{{clic.id_user}}</td>
                <td>{{clic.nombre}}</td>
                <td>{{clic.apellido}}</td>
                <td>{{clic.telefono}}</td>
                <td>{{clic.correo}}</td>
                <!--- Acciones para eliminar y modificar (Links) --->
                <td>
                    <a href="/editar/{{cli.id_user"> Modificar</a>
                </td>
                <td>
                    <a href="/eliminar/{{cli.id_user}}"></a>
                </td>
            </tr>
            {% endfor %}
        </head>
    </table>
    
</body>
</html>